html {
  border-top: 0.3em solid var(--failure-color);
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 18px;
  transition: border-top $darkModeSpeed ease, background $darkModeSpeed ease,
    color $darkModeSpeed ease;
}

body {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  transition: color $darkModeSpeed ease;
}

[hidden] {
  display: none !important;
}

img,
object,
embed {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  transition: color $darkModeSpeed ease;

  &:link {
    color: var(--link-color);
    transition: color 0.3s ease;

    text-decoration-skip: ink;
  }

  &:visited {
    color: var(--link-visited-color);
  }

  &:link:hover,
  &:visited:hover {
    color: var(--link-hover-color);
  }
}

.title {
  display: flex;
  align-items: flex-start;
  margin-top: 2em;
  margin-bottom: 0.5em;

  @extend .h1-font;
  @media (min-width: 768px) {
    margin-top: 1.5em;
  }

  h1 {
    margin: 0;
    font-size: 1em;
  }
}
.title svg,
.title img {
  margin-top: -0.5em;
  margin-right: 0.2em;
  height: 2em;
}

.small {
  color: var(--text-color);
  white-space: nowrap;
  font-weight: normal;
  font-size: 1rem;
  opacity: 0.35;
  transition: color $darkModeSpeed ease;
}
