.h1-font {
  font-size: 1.625em;
  line-height: 1.1;

  @media (min-width: 768px) {
    & {
      font-size: 2.4375em;
    }
  }
}
.h2-font {
  font-size: 1.4375em;
  line-height: 1.2;

  @media (min-width: 768px) {
    & {
      font-size: 1.9375em;
    }
  }
}
.h3-font {
  font-size: 1.25em;
  line-height: 1.3;

  @media (min-width: 768px) {
    & {
      font-size: 1.5625em;
    }
  }
}
.h4-font {
  font-size: 1.125em;
  line-height: 1.1;

  @media (min-width: 768px) {
    & {
      font-size: 1.25em;
      font-size: 2.4375em;
    }
  }
}
