@import "bettertext.css";
@import "./base.scss";

.check-list > li {
  margin-top: 1.5em;
}

.results-list {
  margin-top: 0.25em;
  margin-left: 1em;
  padding-left: 0;
  list-style-type: none;

  li {
    display: flex;
    align-items: center;
    // margin-bottom: 0.5em;
    transform: translateX(0) !important;

    @media (max-width: 624px) {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 0.5em;
    }

    &.red {
      color: #f41224;
    }

    &.green {
      color: green;
    }

    b {
      display: inline-block;
      overflow: hidden;
      padding-right: 0.5em;
      max-width: 100%;
      vertical-align: middle;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    small {
      display: inline-block;
      overflow: hidden;
      max-width: 100%;
      color: #000;
      vertical-align: middle;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: normal;
      font-family: monospace, monospace;
      opacity: 0.5;

      span {
        font-family: sans-serif;
      }

      code {
      }
    }
  }
}

[data-check-loading],
[data-check-size],
[data-check-eval],
.final-score {
  &:empty::before {
    color: #ffae42;
    content: "⌛ Идет проверка…";
  }
}

.final-score {
  display: inline-block;
  padding: 0.1em 0.2em;
  border-radius: 4px;
  background: orange;

  &:empty::before {
    color: #fff;
  }
}

.final-score-cases {
  font-weight: normal;
  font-size: 1rem;
}

.final-score-count,
.final-score-success {
  &:empty::before {
    color: #ffae42;
    content: "⌛";
  }
}
.ads_wrapper {
  display: block;
  overflow: hidden;
  max-width: 100%;
  background: -webkit-repeating-linear-gradient(
    315deg,
    #f3f3f3,
    #f3f3f3 10px,
    #ddd 10px,
    #ddd 20px
  );
  background: repeating-linear-gradient(
    135deg,
    #f3f3f3,
    #f3f3f3 10px,
    #ddd 10px,
    #ddd 20px
  );
  vertical-align: top;
  line-height: 0;
}

.not-empty ~ .ads_wrapper {
  display: inline-block;
  margin-top: 0.5em;
  margin-right: 1em;

  @media (max-width: 624px) {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

.ads_container {
  overflow: hidden;
}

.not-empty ~ .ads_wrapper .ads_container {
  margin: 1em;
}
