@import "bettertext.css";
@import "./variables";
@import "./bettertext.extend";
@import "./base";
@import "./section";

.check-list > li {
  margin-top: 1.5em;
}

.results-list {
  margin-top: 0.25em;
  padding-left: 0;
  list-style-type: none;

  & > li {
    transition: color $darkModeSpeed ease;
    transform: translateX(0) !important;

    @media (max-width: 768px) {
      margin-bottom: 0.5em;
    }

    &.red {
      color: var(--failure-color);
    }

    &.green {
      color: var(--success-color);
    }

    b {
      display: inline-block;
      overflow: hidden;
      padding-right: 0.5em;
      max-width: 100%;
      vertical-align: middle;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    small {
      display: inline-block;
      overflow: hidden;
      max-width: 100%;
      vertical-align: middle;
      text-overflow: ellipsis;
      font-family: monospace, monospace;

      @media (max-width: 768px) {
        &::before {
          display: block;
          content: "";
        }
      }

      span {
        font-family: sans-serif;
      }
    }
  }
}

[data-check-loading],
[data-check-size],
[data-check-eval],
.final-score {
  &:empty::before {
    color: var(--warning-color);
    content: "⌛ Идет проверка…";
  }
}

.final-score {
  display: inline-block;
  padding: 0.1em 0.2em;
  border-radius: 4px;
  background: var(--warning-color);
  color: var(--bg-color);

  &:empty::before {
    color: var(--text-color);
  }
}

.final-score-cases {
  font-weight: normal;
  font-size: 1rem;
}

.final-score-count,
.final-score-success {
  &:empty::before {
    color: var(--warning-color);
    content: "⌛";
  }
}
.ads_wrapper {
  display: block;
  overflow: hidden;
  max-width: 100%;
  background: -webkit-repeating-linear-gradient(
    315deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 10px,
    transparent 10px,
    transparent 20px
  );
  background: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 10px,
    transparent 10px,
    transparent 20px
  );
  vertical-align: top;
  line-height: 0;
}

.not-empty ~ .ads_wrapper {
  display: inline-block;
  margin-top: 0.5em;
  margin-right: 1em;

  @media (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

.ads_container {
  overflow: hidden;
}

.not-empty ~ .ads_wrapper .ads_container {
  margin: 1em;
}

.warning {
  position: relative;
  margin: 2.5em 0;
  padding-left: 3.5em;
  font-weight: 500;

  @media (max-width: 768px) {
    padding-left: 3em;
    br {
      display: none;
    }
  }
}

.warning-icon {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 2em;
  transform: translateY(-50%);
}
