// https://flatuicolors.com/palette/defo

$darkModeSpeed: 0.15s;
$darkBgColor: hsl(215, 15%, 18%);
$lightBgColor: #f5f6fa;
$lightTextColor: hsl(221, 15%, 15%);
$darkTextColor: hsl(221, 15%, 85%);

:root {
  --bg-color: #{$lightBgColor};
  --text-color: #{$lightTextColor};
  --heading-color: #{$darkBgColor};
  --success-color: hsl(112, 58%, 40%);
  --warning-color: hsl(44, 75%, 48%);
  --failure-color: #c23616;
  --link-color: #0097e6;
  --link-visited-color: #8c7ae6;
  --link-hover-color: var(--failure-color);
}

:root[color-scheme="dark"] {
  --bg-color: #{$darkBgColor};
  --text-color: #{$darkTextColor};
  --heading-color: #{$lightBgColor};
  --success-color: #4cd137;
  --warning-color: #fbc531;
  --failure-color: #e84118;
  --link-color: #00a8ff;
  --link-visited-color: #9c88ff;
  --link-hover-color: var(--failure-color);
}
